body {
  padding: 70px;
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-line-height: 1.4;
  --bs-body-bg: #2d3030;
  --bs-body-color: white;
}

.card {
  border: 1px solid black;
  padding: 1px;
  width: 400px;
  border-radius: 0%;
  margin: auto;
  background-color: black;
}
